<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>springframework</display-name>
  <welcome-file-list><!-- 스프링에서 사용하는게 아니다. 없어도 됨  -->
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/root/*.xml</param-value>
  </context-param>
  
    <servlet>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/dispatcher/*.xml</param-value>
    </init-param>
    
        <!-- 404일 경우 NoHandlerFoundExeption을 발생시키도록 함 -->
    <init-param>
      <param-name>throwExceptionIfNoHandlerFound</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <!-- multipart/form-data를 해석하기 위한 설정 -->
<!--     <multipart-config>
    	임시 파일이 저장 될 폴더의 절대 경로만 가능
    	<location>C:/Temp</location>
    	파일 크기가 20MB 이하만 허용(1024*1024*10) 파일 하나 당 크기
    	<max-file-size>20971520</max-file-size>
    	multipart/form-data 전체 크기가 100mb 이하만 허용(1024*1024*30) 여러개 파일 한번에 요청 시 전체 크기, 근데 이 경우가 아니더라도 보통 파일크기보다 전체 크기가 더 커서 좀 크게 지정해야 한다.
    	<max-request-size>104857600</max-request-size>
    	임시 파일로 저장해야 할 파일의 크기 지정 (요청 처리가 끝나면 임시 파일 삭제)
    	<file-size-threshold>1024</file-size-threshold>
    </multipart-config> -->
    
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>  
  
    <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
   <filter>
      <filter-name>Ch02Filter</filter-name>
      <filter-class>com.mycompany.springframework.filter.Ch02Filter</filter-class>
   </filter>
   <filter-mapping>
      <filter-name>Ch02Filter</filter-name>
      <url-pattern>/ch02/*</url-pattern>
   </filter-mapping>
  
</web-app>